@import "./mixin.scss";

// SECTION Global style
* {
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  outline: 0;
  &:focus {
    outline: 0;
  }
}

// SECTION Ant design override

.ant-form-explain {
  font-size: 13px;
  font-weight: 600;
}

.ant-menu-submenu-title {
  margin: 0 !important;
}

.ant-menu-sub {
  background: $nav-side-color !important;
}

.ant-menu-submenu-open {
  background-color: $primary-color;
  > div {
    border-right: 4px solid $reject-color;
  }
  .ant-menu-item-selected {
    background: #444;
  }
}

.ant-page-header-heading {
  @include flexSet(null, "flex-end");
  &-title {
    color: #666;
    font-size: 26px;
  }

  &-sub-title {
    margin: 0;
    font-weight: 700;
  }
}

.ant-select-dropdown-menu-item-selected {
  background: lighten(#1890ff, 40%);
}

.sellers {
  .ant-input-number-handler-wrap {
    display: none;
  }
  .ant-input-number-input {
    text-align: center;
  }

  .ant-table {
    margin: 0 10px;
    border: 1px solid #ddd;
    &-scroll {
    }
    &-body {
      height: 524px;
    }
    &-wrapper {
    }
    &-thead {
      > tr {
        > th {
          padding: 6px 10px;
          background: #eee;
        }
      }
    }
  }
}

.main-side {
  > div {
    > ul {
      > li {
        > ul {
          .ant-menu-item {
            height: 30px !important;
            margin: 0 !important;
            line-height: 30px !important;
            &:hover {
              background: #444;
            }

            &:active {
              background: #444;
            }
          }
        }
      }
    }
  }
}
