@import "../../../styles/mixin.scss";

.signup-form {
  .ant-form {
    &-item {
      margin-bottom: 8px;
    }
  }

  &-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    > span:last-child {
      color: rgb(30, 144, 255);
      font-size: 14px;
      font-weight: 400;
    }
  }

  &-extra {
    margin: -10px 0 50px;
    color: rgb(30, 144, 255);
    font-size: 12px;
    font-weight: 600;
    @include flexSet("flex-start", "center");

    > span {
      margin-left: 5px;
    }
  }
}
